*{
    margin: 0;
    padding: 0;
}
footer{
    background-color: #f8c026;
    text-align: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
.bodyInicial{
    background-color: rgb(124, 180, 160);
}
.cabezera{
    height: auto;
    width: auto;
    background-image:url(/img/fotoEncabezado.png);
    text-align: center;   
    background-size:contain;

}
.cabezeraContenedor{
    margin: 15px;
    padding: 20px;
    margin-top: 0;
}
.cabezeraTexto{
    margin: 20px;
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color:#052f63;
    text-shadow: #26282b;
}
.botonesPage{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 40%;
}
.botonPageIndividual{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.botonPageIndividual a{
    text-decoration: none;
    text-align: center;
    background-color: rgb(11, 152, 247);
    padding: 10px;
    border-radius: 15%;
}
.primerSeccion img{
    margin-top: 5%;
    margin-left: 2%;
    width: 400px;
    

}
.textoDeImagen{
    width:auto;
    margin:auto;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: justify;
}
.noticiaUno{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 5%;
}
.galeriaIndex{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 5%; 
    
}
.galeriaIndex img{
    width: 400px;
    
}
.imagenUno{
    margin: 2%;
}
.primerLegales{
    text-align: center;
    margin-top: 2%;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}
.tituloLegales{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.textoLegales{
    text-align:left;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}